h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;

}

a{
    outline: none;
}

a:visited{
    color: cyan;
}

a:hover{
    color: hotpink;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;   
}