body {
    background-color: rgb(42, 47, 79);
    color: rgb(252, 255, 228);
}

.Heading01{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
}

a{
    text-decoration: none;
}

a:visited{
    color: cyan;
}

a:hover{
    color: hotpink;
}

h2 {
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, serif;
    font-size: x-large;   
}

.Heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large; 
}

img{
    max-width: 50%;
    height: auto;
    border: 5px solid #8C0071;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div { 
    text-align: center;
    padding: 90px;
    background-color: rgb(145, 127, 179);
    margin: 20px auto;
    box-sizing: border-box;
    max-width: 60%;
    border-radius: 50%;
    box-shadow: 2px 8px 2px 2px black;
    border: solid thistle;
    width: 700px;
}

ul, ol{
    display: inline-block;
}

li{
    padding: 2px;
}

